@CHARSET "UTF-8";

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#map { 
	height: 100%; 
}

.clear_both {
	clear: both;
}

.btn-outline {
	background-color: #ffffff;
	border-color: #ff722c;
	font-weight: bold;
}

.modal-header, .modal-body, .modal-footer {
	min-height: 50px;
}

.modal-title {
	font-weight: bold;
	text-align: center;
}

.row { 
	margin: 0px; 
}

.station_list  {
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
    border-radius: 4px;
}

/* The main list */
.station_list > ul {
	overflow: auto;
}

/* Section headers, defined through "headlineSelector" */
.station_list > ul > li strong {
	font-size: 20px;
	background: #f0ad4e;
	display: block;
	padding: 5px;
	color: #fff;
}

/* Section headers when "sticky", defined through "stickyClass" */
.station_list > ul > li.sticky strong {
	position: absolute;
	top: 0;
	border-top-left-radius: 3px;
}

.station_list > ul > li > ul > li.station_info {
	background-color: #f5f5f5;
	border-bottom: 1px solid #cccccc;
	padding: 7px;
	cursor: pointer;
}

.station_list > ul > li > ul > li.station_info:last-child {
	border-bottom: 0px;
}

.station_list > ul > li > ul > li.station_info > .station_name_box {
	float: left;
	line-height: 25px;
}

.station_list > ul > li > ul > li.station_info > .station_name_box > .station_name {
	font-size: 16px;
	font-weight: bold;
	color: #704005;
}

.station_list > ul > li > ul > li.station_info > .station_name_box > .station_arsid_box {
	color: #878787;
}

.station_list > ul > li > ul > li.station_info > .station_name_box > .station_arsid_box > .station_distance {
	font-weight: bold;
	color: #c2481b;
	margin-left: 10px;
}

.station_list > ul > li > ul > li.station_info > .station_info_more {
	float: right;
	line-height: 50px;
}

.station_list > ul > li > ul > li.station_info > .station_info_more > img {
	height: 30px;
}

.station_list > ul > li > ul > li.bus_route_info {
	background-color: #f5f5f5;
	border-bottom: 1px solid #cccccc;
	padding: 7px;
	cursor: pointer;
}

.station_list > ul > li > ul > li.bus_route_info:last-child {
	border-bottom: 0px;
}

.station_list > ul > li > ul > li.bus_route_info > .bus_route_name_box {
	width: 95%;
	float: left;
	line-height: 25px;
}

.station_list > ul > li > ul > li.bus_route_info > .bus_route_name_box > .bus_route_name {
	font-size: 16px;
	font-weight: bold;
	color: #224197;
}

.station_list > ul > li > ul > li.bus_route_info > .bus_route_name_box > .bus_route_next_info_box {
	height: 25px;
}

.station_list > ul > li > ul > li.bus_route_info > .bus_route_name_box > .shuttle_route_desc_box {
	height: 50px;
}

.station_list > ul > li > ul > li.bus_route_info > .bus_route_more {
	float: right;
	line-height: 75px;
}

.station_list > ul > li > ul > li.bus_route_info > .bus_route_more > img {
	height: 30px;
}

#shuttle_line_color_list {
	overflow: auto;
	border-radius: 4px;
	border: 1px solid #ddd;
}

.list-group-item {
	border: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
	border: 0;
	margin-bottom: 0px;
	border-bottom: 0px;
}

.list-group-item > .shuttle_color {
	width: 10px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.list-group-item > .shuttle_name {
	margin-left: 10px;
	vertical-align: middle;
}

.list-group {
    margin-bottom: 0;
}

