#search_form{
	margin-bottom: 15px;
}

#search_form > #find_addr{
	margin-left: 10px;
	width: 81%;
}

#search_btn{
	margin-left: 10px;
}

#address_lb{
	margin-top: 15px;
	font-weight: bold;
	font-size: 1.2em;
}

.pagination > li > span{
	cursor: pointer;
}
