#info{
	width: 100%;
	display: table;
}

#calls-left, #calls-right{
	display: table-cell;
}

#calls-left{
	width: 50%;
	padding : 10px;
}

#calls-right{
	width: 50%;
	padding : 10px;
}

.title{
	display: inline-block;
	font-size: 20px;
	border-bottom: 1px solid;
	margin-top: 10px;
}

.etc{
	display: block;
}

#etc{
	width: 100%;
}

.content{
	width: 100%;
	margin-top: 5px;
}
