<div class="modal fade" id="first_modal" tabindex="-1" role="dialog" aria-labelledby="first_modal_title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="first_modal_title"></h4>
			</div>
			<div class="modal-body" id="first_modal_content"></div>
			<div class="modal-footer" id="first_modal_footer"></div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="./assets/css/modal.css">
