<div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="search_modal_label"></h4>
			</div>
			<div class="modal-body">
				<table id="addr_list" class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>시</th>
							<th>구</th>
							<th>동</th>
							<th>명칭</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<ul class="pagination"></ul>
			</div>
		</div>
	</div>
</div>
